<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spam Checker</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>

<body>
<script src="/index.js"></script>
<div class="navbar">
    <a href="#checkSpam" onclick="showDiv('checkSpam')">Check Spam</a>
    <a href="#train" onclick="showDiv('train')">Train</a>
</div>

<div id="checkSpam">
    <h2>Check Spam</h2>
    <form id="checkSpamForm">
        <textarea name="content" rows="10" cols="30"></textarea>
        <input type="button" value="Check" onclick="submitCheckSpamForm()">
    </form>
    <div id="spamCheckResult"></div>
</div>

<div id="train">
    <h2>Train</h2>
    <form id="trainForm">
        <textarea name="content" rows="10" cols="30"></textarea>
        <input type="button" value="Train" onclick="submitTrainForm()">
    </form>
    <div id="trainResult"></div>
</div>
</body>
</html>
